extends ./layout.jade

block content
    .container
      br
      .jumbotron
        h1 Greetings.
        p Please check out my
          a(href='/messageBoard')  Message Board
          | !!!

block scripts
